.weather-box {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	flex-wrap:wrap;
	justify-content: space-evenly;
	border: black solid 3px;
	box-shadow: 5px 3px 3px rgba(80, 79, 79, 0.253);
	margin-top: 3em;
	margin-bottom: 1em;
}

.weather-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 11em;
	min-height: 7em;
	margin: 5px;
	border-radius: 10px;
	border: black solid 3px;
	box-shadow: 3px 1px 1px rgba(80, 79, 79, 0.253);
}
@media only screen and (min-width:1150px) {
	.weather-box{
		flex-wrap:nowrap;
	}
}

@media only screen and (max-width:500px) {
	.weather-box{
		flex-direction: column;
		margin-top: 1.5em;
	}
	.weather-card{
		min-width: 60vw;
	}
}
.image-wrap {
	position: relative;
	width: 8em;
	height: 8em;
}
.card-image {
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.weather-card:hover {
	box-shadow: 4px 2px 2px rgba(32, 32, 32, 0.75);
	background-color: rgb(235, 235, 235);
	transition: box-shadow background-color 0.5s step-start;
}

.weather-card:active {
	box-shadow: 4px 2px 2px rgba(32, 32, 32, 0.75) inset;
	transition: box-shadow 0.5s step-end;
	background-color: inherit;
}

.short-details{
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
	justify-content: flex-end;
}

h3{
	margin:.3em;
	
}

h4{
	margin: .7em .3em;
}

.current-title{
	margin-bottom:.3em
}