input{
    border-radius:10px;
    border-width: 3px;
    padding: 6px 8px;
    margin:.24em;
    border: black solid 3px;
	box-shadow: 3px 1px 1px rgba(80, 79, 79, 0.253);
}

.error{
    margin-top: 4px;
    color: red;
}

form{
    display:flex;
    flex-direction: inherit;
    align-items: inherit;
}


input:hover{
	box-shadow: 4px 2px 2px rgba(32, 32, 32, 0.75);
	background-color: rgb(235, 235, 235);
	transition: box-shadow background-color 0.5s step-start;
}

input:focus {
	box-shadow: 4px 2px 2px rgba(32, 32, 32, 0.75);
	background-color: rgb(235, 235, 235);
	transition: box-shadow background-color 0.5s step-start;
}

input:active {
	box-shadow: 4px 2px 2px rgba(32, 32, 32, 0.75) inset;
	transition: box-shadow 0.5s step-end;
	background-color: inherit;
}