@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rye&display=swap');

.App {
  text-align: center;
  margin:10em 20em;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'Rye', cursive;
}